<li class="vcard person" id="p<%= person.id -%>">
  <div class="profile-image">
    <%= image_link person, :class => "photo", :image => :thumbnail %>
  </div>
  <div class="col_content">
    <p><%= person_link person, :class => "url fn" %></p>
    <%= display person.listed_categories, :class => "meta" %>
    <% if defined? short %>
    <%= simple_format_without_paragraph(person.short_description) %>
    <% if person.short_description.length < person.description.length %>
       <%= link_to_remote('[More]', :url => {:action => 'expand', :id => person.id }) %>
    <% end %>
    <% else %>
    <%= simple_format_without_paragraph(person.description) %>
    <% if defined? long %>
       <%= link_to_remote('[Less]', :url => {:action => 'contract', :id => person.id }) %>    
    <% end %>
    <% end %>
  </div>
</li>
