<%- column_div :type => :primary do -%>
  <h2>Newest Members</h2>
  <% unless @people.empty? -%>
       <ul class="list people">
      <%= render :partial => @people, :locals => {:short => true} %>
    </ul>
    <%= will_paginate %>
  <% else %>
    <% if !@zipcode.empty? %>
      <div class="meta">No results for <%= h @zipcode %></div>
    <% end %>
  <% end -%>
<%- end -%>


<%- column_div :type => :secondary do -%>
<p></p>
  <h3>Timebank now has <%= Person.active.length  %> members and growing</h3>
  <%= render :partial => '/home/secondary_conditional' %>
<%- end -%>
