<%= render :partial => 'shared/jscript', :locals => { :jscript_file_name => 'group' } %>
<%- column_div :type => :primary do -%>
    <h2>Group: <span class="fn n"><%= h @group.name %></span></h2>
  <% tabs_for do |tab| %>
    <% tab.create('tab_one', 'Home') do %>
      <div class="profile vcard">
        <%- if group_owner?(current_person,@group) -%>
          <%- if @group.description.blank? -%>
            <div class="error">
              The group description is blank.
              <%= link_to "Click here to add a description",
                      edit_group_path(@group) %>
            </div>
          <%- else -%>
            <div class="notice">
              You are viewing your group.
              <%= link_to "Click here to edit it", edit_group_path(@group) %>
            </div>
          <%- end -%>
        <%- end -%>
        <%= render :partial => 'toolbox' %>
        <%= display @group.description %>
      </div>
    <% end %>
    <% tab.create('exchanges', 'Exchanges') do %>
      <h2>Recent Exchanges</h2>
      <ul class="list activity full">
        <%= render :partial => 'exchange', :collection => @group.exchanges %>
      </ul>
    <% end if @group.adhoc_currency? %>
    <% tab.create('forum', 'Forum') do %>
      <%= render :partial => 'forum_canvas' %>
      <%= render :partial => 'forum_form' %>
    <% end %>
    <% tab.create('requests', 'Requests') do %>
      <%= render :partial => 'reqs_canvas' %>
    <% end if @group.adhoc_currency? %>
  <% end %>
  
<%- end -%>


<%- column_div :type => :secondary do -%>
  <%= render :partial => 'shared/group_membership', :locals => {:group => @group} %>
<%- end -%>
