<%- column_div :type => :primary do -%>
<h2>Requests</h2>
  <ul id="message-nav">
  <%= list_link_with_active "Current", reqs_path %>
  <%= list_link_with_active "All", reqs_path(:filter => 'all') %>
  </ul>
<%- if @reqs.empty? -%>
    <h3 class="blankslate">No requests (yet!)</h3>
<%- else -%>
<ul class="list full">
    <%= will_paginate %>
    <%= render :partial => 'req', :collection => @reqs, :locals => {:short => true} %>
    <%= will_paginate %>
  </ul>
<%- end -%>
<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => '/home/secondary_conditional' %>
<%- end -%>
