<% column_div :type => :primary do %>
  <h2>Search results</h2>
  <%= will_paginate(@page_results) %>
    <%- if @page_results.empty? -%>
      <h3>No results</h3>
    <%- else -%>
    <%- for object in @page_results do -%>
      <ul class="list people">
	<%= object.class.to_s -%>
        <%= render :partial => partial(object), :object => object %>
      </ul>
      <%- end -%>
    <%- end -%>
  <%= will_paginate(@page_results) %>
<%- end -%>

<% column_div :type => :secondary do %>
  <%= render :partial => 'searches/box' %>
<%- end -%>