
<li class="offer">
  <a name="offer_<%= offer.id %>">
</a>
<div class="profile-image">
  <% if params[:controller] != "people" %>
  <%= image_link offer.person, :class => "photo", :image => :thumbnail  %>
  <% arrow_image = "icons/arrow_right.gif" %>
  <%= image_tag arrow_image, :class => "icon", :alt => "Offers" %>
  <p class='name'>
    <%= person_link offer.person :class => 'url fn' %>
  </p>
  <% end %>
</div>

<div class="col_content">
  <p>
    <%= link_to h(offer.name), offer, :class => "show-follow" %> (<%= h offer.price %> hrs)
    Expires: <%= offer.expiration_date.nil? ? '' : relative_time_ago_in_words(offer.expiration_date) %>
  </p>
  <%= display offer.listed_categories, :class => "meta" %>
  <p>
    <% if defined? short %>
    <%= display simple_format_without_paragraph(offer.description).briefiate(100) %>
    <% else %>
    <%= display simple_format_without_paragraph(offer.description) %>
    <% end %>
  </p>


  <p class="meta">
    Available count: <%= offer.available_count %>
    <br />
    Created by <%= person_link offer.person %>
    <%= time_ago_in_words(offer.created_at) %> ago
    <% if current_person?(offer.person) -%>
    | <%= link_to "Edit", edit_offer_path(offer) %>
    <% end -%>
    <% if ( offer.can_destroy? && ( admin? || current_person?(offer.person) ) ) -%>
    | <%= link_to "Delete", offer, :confirm => 'Are you sure?', :method => :delete %>
    <% end -%>
    <br />
    <% logged_in? && if defined? current_person.address &&
!current_person.address.nil? && 
current_person.address.zipcode_plus_4  != '89001' && 
!offer.person.address.nil? && 
offer.person.address.zipcode_plus_4  != '89001'  && 
!current_person?(offer.person) -%>
    <%= number_with_precision(offer.person.address.distance_to(current_person.address), 1).to_s %> miles away
    <% end -%>
  </p>
</div>
</li>
