<li>
<%= link_to category.name, category, {:class => "categoryMenuItem" } %> <%= category.current_and_active_reqs.length %> requests, <%= category.offers.length %> offers, <%= category.active_people.length %> people
  <div>
    <ul>
    <% unless category.children.empty? -%>
      <%= render :partial => 'subcategory', :collection => category.children %>
    <% end -%>
    </ul>
  </div>
</li>
