<li>
<%= link_to category.name, category, {:class => "categoryMenuItem" } %> (
<% if category.current_and_active_reqs.length  > 0 -%>
	<%= category.current_and_active_reqs.length %> requests
<% end -%>

<% if category.offers.length  > 0 -%>
	<%= category.offers.length %> offers
<% end -%>

<% if category.active_people.length  > 0 -%>
	<%= category.active_people.length %> people
<% end -%>
)
  <div>
    <ul>
    <% unless category.children.empty? -%>
      <%= render :partial => 'subcategory', :collection => category.children %>
    <% end -%>
    </ul>
  </div>
</li>
