<tr class="categories" >
  <td>
    <div class=categoryMenuItem"><%= h(category.name) %></div>
</td>

  <td class="categorynumbercell">
    <% if category.current_and_active_reqs.length  > 0 -%>
    <a href="/categories/<%= category.id %>/reqs">
    <%= category.current_and_active_reqs.length %>
  </a>
    <% end -%>
  </td>
  <td class="categorynumbercell">
    <% if category.offers.current.length  > 0 -%>
    <a href="/categories/<%= category.id %>/offers">
    <%= category.offers.current.length %>
  </a>
    <% end -%>
  </td>
  <td class="categorynumbercell">
    <% if category.active_people.length  > 0 -%>
    <a href="/categories/<%= category.id %>/people">
    <%= category.active_people.length %>  
  </a>
    <% end -%>
  </td>
</tr>
<% unless category.children.empty? -%>
<%= render :partial => 'subcategory', :collection => category.children %>
<% end -%>
