<tr class="subcategories">
  <td class="subcategoryname" >
    <%= link_to subcategory.name, subcategory, {:class => "categoryMenuItem" } %>
  </td>

  <td  class="categorynumbercell">
    <% if subcategory.current_and_active_reqs.length  > 0 -%>
    <a href="/categories/<%= subcategory.id %>/reqs">
<%= subcategory.current_and_active_reqs.length %>
</a>
    <% end -%>
  </td>
  <td class="categorynumbercell">
    <% if subcategory.offers.current.length  > 0 -%>
    <%= subcategory.offers.current.length %>
    <% end -%>
  </td>
  <td class="categorynumbercell">
    <% if subcategory.active_people.length  > 0 -%>
    <%= subcategory.active_people.length %>
    <% end -%>
  </td>
</tr>
<% if !subcategory.children.empty? %>
<%= render :partial => 'subcategory', :collection => subcategory.children %>
<% end %>

