<li>
<%= link_to h(subcategory.name), subcategory %> (<%= subcategory.current_and_active_reqs.length %> requests, <%= subcategory.offers.length %> offers, <%= subcategory.active_people.length %> people)
<% if !subcategory.children.empty? %>
  <ul><%= render :partial => 'subcategory', :collection => subcategory.children %></ul>
<% end %>
</li>
